<template name="weld_sidebar">
  {{#if canView}}
  <nav class="sidebar">
    <div class="close-icon mobile-only">×</div>
    {{#if isDesktop}}{{> logo}}{{/if}}
    <ul class="sidebar-menu scrollable no-scrollbar">
      {{> modules "primaryNav"}}
      {{#if isLoggedIn}}
        <li><a href="{{profileUrl}}">{{displayName}} </a></li>
        <li><a href="/sign-out">{{_ "Sign Out"}}</a></li>
      {{else}}
        <li><a href="{{pathFor route='atSignIn'}}">{{_ "Sign In"}}</a></li>
      {{/if}}
    </ul>
  </nav>
  {{/if}}
</template>
