.loader-wrap {
  background: white;
  z-index: 50000;

}

.loader,
.loader:after {
  border-radius: 50%;
  width: 2.25rem;
  height: 2.25rem;
}

.loader {
  display: block;
  border-style: solid;
  border-width: 2px;
  border-color: $lightest-grey;
  border-left-color: $primary-color;
  animation: rotate 400ms infinite linear, fadeIn 1s ease;
}