.posts_list_controller,
.posts_daily,
.single_day {
  padding: 0;
  margin-bottom: 25vh;
  @include small {
    margin-top: 0;
  }
}

.posts {
  width: 100%;
}

.posts.list > .post {
  cursor: pointer;

  &:hover {
    @include large {
      transition: background 200ms ease;
      background: $lightest-grey;
    }
  }

  &.sticky {
    background: $primary-color;

    .post-title,
    .post-meta,
    .post-body,
    .post-body a {
      color: white !important;
    }

    a.post-category,
    a.post-domain {
      background: white;
      color: $dark-grey;
    }
  }

  @include small {
    .inner {
      padding: 0 1rem;
    }

    &:first-child {
      border-top: none;
    }
  }
}

// Separate multiple sticky posts
.post.sticky + .post.sticky {
  border: 0;

  &:nth-child(2n) {
    filter: opacity(0.85);
  }
}

.post {
  background: #ffffff;
  border-top: 1px solid $lightest-grey;
  padding: 1.5rem 1.5rem 0.5rem;
  position: relative;
  overflow: hidden;

  &:first-child {
    border: none;
  }

  @include small {
    padding: 1.5rem 1rem 0.5rem;
  }

  &:hover .post-title {
    color: $primary-color !important;
  }
}

.post-title {
  color: $black;
  display: inline-block;
  max-width: 80%;
  font-size: 21px;
  height: 25px;
  font-weight: 600;
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-rendering: optimizeLegibility;

  &:visited {
    color: $grey;
  }

  @include small {
    font-size: 18px;
    display: block;
    max-width: 100%;
  }
}

.post-heading {
  margin-bottom: 1.25rem;
  .post-body {
    color: $grey;
    font-size: 14px;
    line-height: 1.2;
    max-height: 1rem;
    white-space: nowrap;
    margin-bottom: 1.5rem;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

a.back-link {
  color: $grey;
  display: block;
  margin-bottom: 1rem;
  &:hover {
    color: $primary-color;
  }
}

/*====================================================
    Single Post Page
====================================================*/

.single-post .post,
.single-post .sticky {
  padding: 0;
}

.single-post .post-heading {
  margin-bottom: 3rem;
  padding: 0 0 2rem;
  margin-bottom: 2rem;
  border-bottom: $border;
}

.single-post .post-title {
  overflow: visible;
  display: block;
  max-width: 100%;
  white-space: normal;
  line-height: 1;
  font-size: 28px;
  margin-bottom: 10px;
  height: auto;

  @include small {
    font-size: 21px;
  }

  &:visited {
    color: inherit;
  }
}

// TODO: Get out of pecificity hell.
.single-post .post:hover .post-title {
  color: inherit !important;
}

.single-post .post-author {
  font-size: 16px;
  display: block;
  font-weight: 500;
  color: $grey;
}

.post-body {
  margin-bottom: 15%;
  font-size: 16px;
  @include small {
    font-size: 14px;
  }
}

/*====================================================
    Edit Button and Icon
====================================================*/

a.edit-post-button {
  color: $white;
  margin-top: 1rem;
}

.edit-icon {
  margin-right: 5px;
  vertical-align: bottom;
}

/*====================================================
    Daily View
====================================================*/

.posts-day-heading {
  padding: $gutter / 2;
  background: fade-out($lightest-grey, 0.5);
  color: $dark-grey;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 0;
}

/*====================================================
    Empty States
====================================================*/

.no-posts {
  padding: ($gutter * 2) $gutter;
  text-align: center;
  color: $primary-color
}

.more-button,
.load-more-days-button {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-self: center;
  align-items: center;
  justify-content: center;
  background: fade-out($lightest-grey, 0.5);
  color: $primary-color;
  font-weight: 600;
  margin: 2rem 0;
  height: 3rem;
  width: 100%;
  border-radius: 3px;

  &:hover {
    background: $primary-color;
    color: $white !important;
  }
}
