<!-- added upvote and comments links and icon -->
<template name="custom_post_info">
  <a class="author" href="{{getProfileUrl userId}}">by {{getAuthorName}}</a>
  <span class="upvote-link {{#if upvoted}}upvoted{{else}}not-upvoted{{/if}}">
    <a href="#" class="upvote">
      <svg class="upvote-icon" xmlns="https://www.w3.org/2000/svg" width="14" height="12" viewBox="-91 16 14 12" enable-background="new -91 16 14 12"><path d="M-80.5 16c-1.8 0-3.2 1.3-3.5 3.1-.2-1.7-1.7-3.1-3.5-3.1-1.9 0-3.5 1.6-3.5 3.5 0 5.3 7 8.5 7 8.5s7-3.2 7-8.5c0-1.9-1.6-3.5-3.5-3.5z"/></svg>
      {{baseScore}}
    </a>
  </span>
  <span class="comments-link {{#if commented}}commented{{else}}not-commented{{/if}}">
    <svg xmlns="https://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14"><path d="M2 0h10c.5 0 1 .2 1.4.6.4.4.6.9.6 1.4v6c-.1 1-.4 1.5-1 1.8-.6.2-.9.2-1 .2h-1v4l-4-4h-5c-.5 0-1-.2-1.4-.6-.4-.5-.6-.9-.6-1.4v-6c0-.5.2-1 .6-1.4.4-.4.9-.6 1.4-.6z"/></svg>
    {{commentCount}}
  </span>
  {{#if postedAt}}<span class="post-time onum">{{timeAgo postedAt}}</span>{{/if}}

  {{#if canEdit this}}
  <a class="desktop-only edit-post goto-edit pull-right" href="{{pathFor route='post_edit' _id=_id}}">
    <svg class="full-h full-w" xmlns="https://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path d="M0 16l5-2-3-3-2 5zm10-13.1l3 3-7 7-3-3 7-7zm6 .1l-2 2-3-3 2-2 3 3z"/></svg>
  </a>
  {{/if}}
</template>
