/*====================================================
  Animations
====================================================*/

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }}

@keyframes fadeOut {
  from { opacity: 0; }
  to { opacity: 1; }}

@keyframes fadeInOut {
  0%, 100% { opacity: 0; visibility: hidden; }
  20%, 80% { opacity: 1; visibility: visible; }}

@keyframes fadeInUp {
  from { opacity: 0; transform: translateY(1.25rem); }
  to { opacity: 1; transform: translateY(0); }}

// For modals
@keyframes fadeInDown {
  from { opacity: 0; transform: translateY(-10rem); }
  to { opacity: 1; transform: translateY(0); }}

@keyframes slideUp {
  from { transform: translateY(5rem); }
  to { transform: translateY(0); }}

@keyframes slideDown {
  from { transform: translateY(-5rem); }
  to { transform: translateY(0); }}

@keyframes slideRight {
  from { transform: translateX(-5rem); }
  to { transform: translateX(0); }}

@keyframes slideLeft {
  from { transform: translateX(5rem); }
  to { transform: translateX(0); }}

@keyframes slideFarLeft {
  from { transform: translateX(15rem); }
  to { transform: translateX(0); }}

@keyframes scaleUp {
  from { transform: scale(0.85); }
  to { transform: scale(1); }}

@keyframes appearScale {
  from { transform: scale(0); }
  to { transform: scale(1); }}

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }}

@keyframes flipIn {
  from { opacity: 0; transform: scaleY(0); }
  to { opacity: 1; transform: scaleY(1); }}

@keyframes flash {
  0% { opacity: 0; }
  33% { opacity: 0.85; }
  66% { opacity: 0.40; }
  100% { opacity: 1; }}

/*====================================================
    Animation Classes
====================================================*/

.fadeIn {
  animation: fadeIn 500ms ease;
}

.flipIn {
  animation: flipIn 200ms cubic-bezier(0.5, -0.5, 0.5, 1.5);
}

.appearScale {
  animation: appearScale 200ms cubic-bezier(0.5, -0.5, 0.5, 1.5);
}

.slideUp {
  animation: slideUp 200ms ease-in-out;
}
