<template name="weld_twitter_feed">
  <div class="twitter-wrap row center-lr">
    <div class="twitter-block">
      <span class="twitter-title">Timeline</span>
      <a class="twitter-timeline"
        width="425"
        height="500"
        data-tweet-limit="5"
        data-chrome="noheader"
        data-screen-name="{{telescope.twitter}}"
        data-widget-id="588809315441516544"
        data-link-color="{{getSetting "accentColor"}}">
        Tweets by @{{telescope.twitter}}
      </a>
    </div>
    <div class="twitter-block">
      <span class="twitter-title">#wecreateweld</span>
      <a class="twitter-timeline"
        href="https://twitter.com/hashtag/wecreateweld"
        width="425"
        height="500"
        data-tweet-limit="5"
        data-chrome="noheader"
        data-widget-id="590545546881978370"
        data-link-color="{{getSetting "accentColor"}}">
      </a>
    </div>
  </div>
</template>