<template name="weld_members_page">

  <div class="no-results column center no-pointer-events">
    {{#ifEsHasNoResults index="weldMembers"}}
      <span class="text-align-center fadeIn">
        <div class="no-results-headline">Dang it.</div>
        No matches were found.
      </span>
    {{/ifEsHasNoResults}}

    {{#ifEsIsSearching index="weldMembers"}}
      <span class="loader"></span>
    {{/ifEsIsSearching}}
  </div>

  <div class="search">{{> esInput index="weldMembers" placeholder="Search members" allDocsOnEmpty="true" type="search" class="custom-search-field"}}</div>
  <span class="total cell center"><span class="total-number {{#if isSearching}}appearScale{{/if}}">{{searchCount}}</span></span>

  <div class="members-page-wrap row space-around">
    <select class="js-sort-select margin-1">
      <option selected="selected" disabled>Sort Members</option>
      <option data-sort="name">A-Z</option>
      <option data-sort="newest">Newest Members</option>
      <option data-sort="oldest">Oldest Members</option>
    </select>
    {{#esEach index="weldMembers"}}
      {{> weld_members_item}}
    {{/esEach}}
  </div>

  <div class="search-controls cell center">
    {{> esLoadMoreButton index="weldMembers" howMany=100}}
  </div>

</template>
